/* G3 Filter */
@import "../utils/filter";

.filter-g3 {
    background: -webkit-gradient(linear, left top, left bottom, from(#948a7b), color-stop(15%, #928575), to(#4b6974));
    background: linear-gradient(#948a7b, #928575 15%, #4b6974);
    
    img {
        @include filter("contrast(1.15)");
        mix-blend-mode: hard-light;
    }

    &:after {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(43%, #69828c), to(#585d6f));
        background: linear-gradient(#69828c 43%, #585d6f);
        mix-blend-mode: soft-light;
    }
}