/* KK2 Filter */
@import "../utils/filter";

.filter-kk2 {
    background: linear-gradient(-179deg, #b1957d 29%, #7d7b73 57%, #ce9778 100%);

    img {
        @include filter("grayscale(30%) contrast(170%)");
        mix-blend-mode: hard-light;
        opacity: 0.8;
    }

    &:after {
        background-color: #dab66d;
        mix-blend-mode: darken;
        opacity: 0.15;
    }
}